.grid-container {
  max-width: 100%;
  overflow-x: auto;
  margin-top: 8px;
}

.grid-table {
  min-width: 800px;
}

.grid-table__row {
  display: grid;
  grid-template-columns: 1fr 20% 25% 1fr 25%;
  gap: 1px;
}

.grid-table__row:nth-child(odd) {
  background-color: #eeeeee;
}

.header-cell {
  background: #ccc;
  color: #232c3b;
  font-size: 0.8em;
  font-weight: 900;
  padding: 10px;
}

.data-cell {
  font-size: 13px;
  padding: 10px;
  font-size: 0.8em;
  color: #232c3b;
  align-self: center;
}

.data-cell a {
  text-decoration: underline;
  color: #232c3b;
}

.align-right {
  text-align: right;
}

.expense {
  color: #c70202;
}
