.body-table {
  display: grid;
  grid-template-columns: 1fr 20% 25% 1fr 25%;
  gap: 1px;
}

.body-table:nth-child(odd) {
  background-color: #eeeeee;
}

.data-cell {
  font-size: 16px;
  padding: 15px;
  color: #232c3b;
  align-self: center;
}

.data-cell a {
  text-decoration: underline;
  color: #232c3b;
}

.align-right {
  text-align: right;
}

.expense {
  color: #c70202;
}
